/*++++ HEADER ++++*/
@media only screen and (max-width: 1000px) {

header {
  width: 100%;
  height: 12em;
  background-color: orange;
  background-image: url("../images/binding-dark.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 4.5em;
  /* position: relative; */
}
.profile-pic {
  width: 8em;
  height: auto;
}
}

@media only screen and (max-width: 1000px) {

  header {
    width: 100%;
    height: 12em;
    background-color: orange;
    background-image: url("../images/binding-dark.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 4.5em;
    /* position: relative; */
  }
  .profile-pic {
    width: 8em;
    height: auto;
  }
  }