/*++++ NEW TWEET DIV ++++*/
.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 1em;
}
.tweet-subtitle {
  margin-bottom: 0.625em;
}
/*++++ ALERT MESSAGES ++++*/
.title-alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert {
  text-align: center;
}
.alert-text-over {
  font-family: 'Bungee', cursive;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: orange;
}
.alert-text-blank {
  font-family: 'Bungee', cursive;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: orange;
}
.create-tweeter-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
/*++++ THE INPUT TEXT AREA ++++*/
#tweet-text {
  min-height: 3em;
  margin: 0em 0em 0.313em 0em;
  background-color: rgba(250, 250, 250, .25);
  border: none;
  font-size: 1em;
  font-weight: 600;
}
#tweet-text:hover {
  border-radius: 0.188em;
  box-shadow: 0.125em 0.125em 0.125em grey;
  outline: transparent;
  background-color: white;
}
#tweet-text:focus {
  border-radius: 0.188em;
  box-shadow: 0.188em 0.188em 0.188em grey;
  outline: transparent;
  background-color: white;
}
/*++++ BUTTON-COUNTER DIV ++++*/
.tweet-btn-counter {
  display: flex;
  justify-content: space-between;
}
/*++++ THE COUNTER ++++*/
.counter {
  font-family: 'Bungee', cursive;
  font-weight: 600;
}
/*++++ THE BUTTON ++++*/
.tweeter-btn {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  font-size: 1em;
  color: white;
  border: none;
  padding: 0.313em;
  box-shadow: 0.125em 0.125em 0.125em grey;
  cursor: pointer;
  transition-duration: 0.4s;
}
.tweeter-btn:hover {
  background-color: rgb(23, 151, 255);
  color: #4056A1
}
.tweeter-btn:active {
  background-color: rgb(23, 151, 255);
  color: #4056A1;
  box-shadow: 0em 0em 0em transparent;
}
@media only screen and (max-width: 420px) and (min-width: 320px) {
  .alert-text {
    font-size: 1em;
  }
  .tweeter-btn {
  font-size: .65em;
  padding: 0.125em;
  box-shadow: 0.09em 0.09em 0.09em grey;
  height: 2em;
}
.counter {
  font-size: .75em;
}
}
/*++++ END OF NEW TWEET DIV ++++*/