/*++++ OLD TWEET DIV ++++*/
#old-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5em;
}
.previous-tweets {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 0.625em;
  padding: 0.625em;
  border: 0.125em solid rgb(51, 51, 51);
}
.previous-tweets:hover {
  box-shadow: 0.313em 0.313em 0.313em grey;
}
/*++++ PROFILE SECTION ++++*/
.profile-identifier {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625em;
}
.avatar-fullname {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.avatar {
  margin-right: 0.125em;
  cursor: pointer;
  width: 2em;
}
.avatar:hover {
  transform: translateX(0.125em);
  transform: translateY(-0.125em);
}
.name {
  font-weight: 600;
  cursor: pointer;
}
.name:hover {
  color:rgb(255, 94, 1);
}
.profile-name:hover {
  color:rgb(255, 94, 1);
  cursor: pointer;
}
/*++++ PREVIOUS TWEETS ++++*/
.prev-tweets {
  margin: 0px 0px 0.313em 0px;
  background-color: rgba(250, 250, 250, .25);
  border: none;
  min-height: 1.75em;
}
.prev-tweets h2 {
  font-weight: 600;
  word-wrap: break-word;
}
/*++++ TIMER ++++*/
.time-till-tweet p {
  font-weight: 600;
}
/*++++ REACT ICONS ++++*/
.react-icons .fas {
  color:rgb(51, 51, 51);
  margin: 0px 0.313em 0px 0.313em;
}
.react-icons .fas:hover {
  color:rgb(255, 94, 1);
  animation: none;
}
.react-icons .fas:visited {
  color:rgb(255, 94, 1);
  animation: none;
}


/*++++ END OF OLD TWEET DIV ++++*/